@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Created by:</strong> <a href="http://www.muhamadfarihan.com">Farihan</a><br />
    <strong>Source codes:</strong> <a href="https://github.com/farihan/NorthwindAngular">Northwind Angular</a>
</address>