@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Created by:</strong> <a href="https://www.linkedin.com/pub/muhamad-farihan-hans/44/ab3/86b">Farihan</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/farihan">https://github.com/farihan</a>
</address>