<h2>@ViewBag.Title</h2>
<div class="span12 text-right">
    @*<p><a href="#" class="btn btn-default btn-sm" data-bind="click: showCreate">Create New Product</a></p>*@
</div>

<div ng-controller="ProductController">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th><a href="" ng-click="sort('ProductID')">Product ID</a></th>
                <th><a href="" ng-click="sort('ProductName')">Product Name</a></th>
                <th><a href="" ng-click="sort('UnitPrice')">Unit Price</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.ProductID}}</td>
                <td>{{product.ProductName}}</td>
                <td>{{product.UnitPrice}}</td>
            </tr>
        </tbody>
    </table>
    <pagination direction-links="false" boundary-links="true" total-items="pagingInfo.totalItems" ng-model="pagingInfo.page" ng-change="pageChanged(page)"></pagination>
</div>
